@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lavender-blush: #ffedfa;
  --color-cotton-candy: #ffb8e0;
  --color-mauvelous: #ec7fa9;
  --color-mulberry: #be5985;
  --color-white-smoke: #f1f1f1;
  --color-gainsboro: #d8d8d8;
  --color-nero: #2a2929;
  --color-matterhorn: #514f4f;
}
